<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
    </style>
  </head>

  <body>
    <p>
      Unfortunately, your image compression process has failed.

      </p>
    <table>
      <tr>
        <td>Filename</td>
        <td><%= @image_filename %></td>
      </tr>
      <tr>
        <td>Uploaded at</td>
        <td><%= @image_uploaded_at %></td>
      </tr>
    </table>
  </body>
</html>